.popupcat{
background-color: #DAEBF2;
width: 60vw;
display: flex;
flex-direction: column;
align-items: center;
margin: 0 auto;
border: #0099DD;
}

.barra{
    display: flex;
    gap: 10px;
    width: 20vw;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 20px;
}

.barra input{
    width: 20vw;
    border-radius: 20px;
    border: none;
    outline: none;

}

::placeholder{
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    color: #062068;
}

.imagens{
    display: flex;
    justify-content: center;
}
figure{
    border: 1px solid #000;
}

figcaption{
    border: solid blue 1px;
    text-align: center;
}

.imagens img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: #ff9933 2px solid;
    margin: 10px;
}
